USE [master]
GO
/****** Object:  Database [BlueBuilderDB]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE DATABASE [BlueBuilderDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlueBuilderDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER_R14\MSSQL\DATA\BlueBuilderDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BlueBuilderDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER_R14\MSSQL\DATA\BlueBuilderDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlueBuilderDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlueBuilderDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/20/2018 5:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BlueprintEntities]    Script Date: 6/20/2018 5:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BlueprintEntities](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Length] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Owner_UserName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.BlueprintEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ColumnEntities]    Script Date: 6/20/2018 5:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColumnEntities](
	[Id] [uniqueidentifier] NOT NULL,
	[Width] [real] NOT NULL,
	[Length] [real] NOT NULL,
	[Height] [real] NOT NULL,
	[CoordX] [real] NOT NULL,
	[CoordY] [real] NOT NULL,
	[BearerBlueprint_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.ColumnEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CostPriceEntities]    Script Date: 6/20/2018 5:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostPriceEntities](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[Price] [real] NOT NULL,
	[Cost] [real] NOT NULL,
	[ComponentType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CostPriceEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpeningEntities]    Script Date: 6/20/2018 5:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpeningEntities](
	[Id] [uniqueidentifier] NOT NULL,
	[CoordX] [real] NOT NULL,
	[CoordY] [real] NOT NULL,
	[BearerBlueprint_Id] [uniqueidentifier] NOT NULL,
	[Template_Name] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.OpeningEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpeningTemplateEntities]    Script Date: 6/20/2018 5:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpeningTemplateEntities](
	[Name] [nvarchar](128) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[Height] [real] NOT NULL,
	[Length] [real] NOT NULL,
	[HeightAboveFloor] [real] NOT NULL,
	[ComponentType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OpeningTemplateEntities] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SignatureEntities]    Script Date: 6/20/2018 5:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignatureEntities](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[SignerName] [nvarchar](max) NULL,
	[SignerSurname] [nvarchar](max) NULL,
	[SignerUserName] [nvarchar](max) NULL,
	[SignatureDate] [datetime2](7) NOT NULL,
	[BlueprintSigned_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SignatureEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserEntities]    Script Date: 6/20/2018 5:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserEntities](
	[UserName] [varchar](100) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[LastLoginDate] [datetime2](7) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[IdCard] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserEntities] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WallEntities]    Script Date: 6/20/2018 5:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WallEntities](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[Height] [real] NOT NULL,
	[Width] [real] NOT NULL,
	[BeginningX] [real] NOT NULL,
	[BeginningY] [real] NOT NULL,
	[EndX] [real] NOT NULL,
	[EndY] [real] NOT NULL,
	[BearerBlueprint_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.WallEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BlueprintEntities] ([Id], [Name], [Length], [Width], [Owner_UserName]) VALUES (N'269587f9-77a3-4588-9bd8-407788bd69c1', N'Barbacoa en el fondo', 6, 5, N'testClient2')
INSERT [dbo].[BlueprintEntities] ([Id], [Name], [Length], [Width], [Owner_UserName]) VALUES (N'f65d2941-1d2e-4a42-81b0-bf1e6f62336d', N'oficina nueva', 10, 10, N'testClient2')
INSERT [dbo].[BlueprintEntities] ([Id], [Name], [Length], [Width], [Owner_UserName]) VALUES (N'46e689b0-4e03-42d3-ba0b-fece2edbe191', N'Mi tablero de ajedrez gigante', 8, 8, N'testClient1')
INSERT [dbo].[CostPriceEntities] ([Id], [Price], [Cost], [ComponentType]) VALUES (N'69eb673f-c674-e811-9c18-f8cab819f60f', 100, 50, 0)
INSERT [dbo].[CostPriceEntities] ([Id], [Price], [Cost], [ComponentType]) VALUES (N'6aeb673f-c674-e811-9c18-f8cab819f60f', 100, 50, 1)
INSERT [dbo].[CostPriceEntities] ([Id], [Price], [Cost], [ComponentType]) VALUES (N'6beb673f-c674-e811-9c18-f8cab819f60f', 100, 50, 2)
INSERT [dbo].[OpeningTemplateEntities] ([Name], [Id], [Height], [Length], [HeightAboveFloor], [ComponentType]) VALUES (N'DEFAULT DOOR', N'7318ff75-c674-e811-9c18-f8cab819f60f', 2.2, 0.85, 0, 2)
INSERT [dbo].[OpeningTemplateEntities] ([Name], [Id], [Height], [Length], [HeightAboveFloor], [ComponentType]) VALUES (N'DEFAULT WINDOW', N'd197a581-c674-e811-9c18-f8cab819f60f', 1, 0.8, 1, 3)
INSERT [dbo].[SignatureEntities] ([Id], [SignerName], [SignerSurname], [SignerUserName], [SignatureDate], [BlueprintSigned_Id]) VALUES (N'60eb673f-c674-e811-9c18-f8cab819f60f', N'Gustave', N'Eiffel', N'testArchitect1', CAST(N'2018-06-20 17:12:17.5851424' AS DateTime2), N'46e689b0-4e03-42d3-ba0b-fece2edbe191')
INSERT [dbo].[UserEntities] ([UserName], [Id], [Name], [Surname], [Password], [RegistrationDate], [LastLoginDate], [Phone], [IdCard], [Address], [Discriminator]) VALUES (N'admin', N'8fa76b2e-2f74-e811-9c18-f8cab819f60f', N'admin', N'admin', N'admin', CAST(N'0001-01-01 00:00:00.0000000' AS DateTime2), CAST(N'2018-06-20 17:13:03.9274868' AS DateTime2), NULL, NULL, NULL, N'AdminEntity')
INSERT [dbo].[UserEntities] ([UserName], [Id], [Name], [Surname], [Password], [RegistrationDate], [LastLoginDate], [Phone], [IdCard], [Address], [Discriminator]) VALUES (N'testArchitect1', N'0f92a831-c674-e811-9c18-f8cab819f60f', N'Gustave', N'Eiffel', N'password', CAST(N'2018-06-20 17:11:58.8423985' AS DateTime2), CAST(N'0001-01-01 00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, N'ArchitectEntity')
INSERT [dbo].[UserEntities] ([UserName], [Id], [Name], [Surname], [Password], [RegistrationDate], [LastLoginDate], [Phone], [IdCard], [Address], [Discriminator]) VALUES (N'testClient1', N'1092a831-c674-e811-9c18-f8cab819f60f', N'Enzo', N'Ferreira', N'password', CAST(N'2018-06-20 17:11:56.8032499' AS DateTime2), CAST(N'0001-01-01 00:00:00.0000000' AS DateTime2), N'9595-01-73', N'4.435.511-2', N'Colonia Ofir 7763', N'ClientEntity')
INSERT [dbo].[WallEntities] ([Id], [Height], [Width], [BeginningX], [BeginningY], [EndX], [EndY], [BearerBlueprint_Id]) VALUES (N'61eb673f-c674-e811-9c18-f8cab819f60f', 3, 0.2, 1, 1, 1, 5, N'46e689b0-4e03-42d3-ba0b-fece2edbe191')
INSERT [dbo].[WallEntities] ([Id], [Height], [Width], [BeginningX], [BeginningY], [EndX], [EndY], [BearerBlueprint_Id]) VALUES (N'62eb673f-c674-e811-9c18-f8cab819f60f', 3, 0.2, 2, 2, 5, 2, N'46e689b0-4e03-42d3-ba0b-fece2edbe191')
INSERT [dbo].[WallEntities] ([Id], [Height], [Width], [BeginningX], [BeginningY], [EndX], [EndY], [BearerBlueprint_Id]) VALUES (N'63eb673f-c674-e811-9c18-f8cab819f60f', 3, 0.2, 3, 1, 3, 3, N'f65d2941-1d2e-4a42-81b0-bf1e6f62336d')
/****** Object:  Index [IX_Id]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Id] ON [dbo].[BlueprintEntities]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Owner_UserName]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Owner_UserName] ON [dbo].[BlueprintEntities]
(
	[Owner_UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BearerBlueprint_Id]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_BearerBlueprint_Id] ON [dbo].[ColumnEntities]
(
	[BearerBlueprint_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BearerBlueprint_Id]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_BearerBlueprint_Id] ON [dbo].[OpeningEntities]
(
	[BearerBlueprint_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Template_Name]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Template_Name] ON [dbo].[OpeningEntities]
(
	[Template_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Name]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[OpeningTemplateEntities]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlueprintSigned_Id]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_BlueprintSigned_Id] ON [dbo].[SignatureEntities]
(
	[BlueprintSigned_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Id] ON [dbo].[SignatureEntities]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserName]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[UserEntities]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BearerBlueprint_Id]    Script Date: 6/20/2018 5:17:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_BearerBlueprint_Id] ON [dbo].[WallEntities]
(
	[BearerBlueprint_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ColumnEntities] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[OpeningEntities] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[BlueprintEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlueprintEntities_dbo.UserEntities_Owner_UserName] FOREIGN KEY([Owner_UserName])
REFERENCES [dbo].[UserEntities] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlueprintEntities] CHECK CONSTRAINT [FK_dbo.BlueprintEntities_dbo.UserEntities_Owner_UserName]
GO
ALTER TABLE [dbo].[ColumnEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ColumnEntities_dbo.BlueprintEntities_BearerBlueprint_Id] FOREIGN KEY([BearerBlueprint_Id])
REFERENCES [dbo].[BlueprintEntities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ColumnEntities] CHECK CONSTRAINT [FK_dbo.ColumnEntities_dbo.BlueprintEntities_BearerBlueprint_Id]
GO
ALTER TABLE [dbo].[OpeningEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OpeningEntities_dbo.BlueprintEntities_BearerBlueprint_Id] FOREIGN KEY([BearerBlueprint_Id])
REFERENCES [dbo].[BlueprintEntities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OpeningEntities] CHECK CONSTRAINT [FK_dbo.OpeningEntities_dbo.BlueprintEntities_BearerBlueprint_Id]
GO
ALTER TABLE [dbo].[OpeningEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OpeningEntities_dbo.OpeningTemplateEntities_Template_Name] FOREIGN KEY([Template_Name])
REFERENCES [dbo].[OpeningTemplateEntities] ([Name])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OpeningEntities] CHECK CONSTRAINT [FK_dbo.OpeningEntities_dbo.OpeningTemplateEntities_Template_Name]
GO
ALTER TABLE [dbo].[SignatureEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SignatureEntities_dbo.BlueprintEntities_BlueprintSigned_Id] FOREIGN KEY([BlueprintSigned_Id])
REFERENCES [dbo].[BlueprintEntities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SignatureEntities] CHECK CONSTRAINT [FK_dbo.SignatureEntities_dbo.BlueprintEntities_BlueprintSigned_Id]
GO
ALTER TABLE [dbo].[WallEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WallEntities_dbo.BlueprintEntities_BearerBlueprint_Id] FOREIGN KEY([BearerBlueprint_Id])
REFERENCES [dbo].[BlueprintEntities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WallEntities] CHECK CONSTRAINT [FK_dbo.WallEntities_dbo.BlueprintEntities_BearerBlueprint_Id]
GO
USE [master]
GO
